# Firebase
GEMINI_API_KEY=AIzaSyDZDRLPhzId0YJg-qH7E1Oke4FVG1KfB34

# Weather API (weatherapi.com)
VITE_WEATHER_API_KEY=e3a6d60d44a445358d305608

# OpenWeather API
VITE_OPENWEATHER_API_KEY=5c6d5a2bc800d4a3fc7356d
