BOL_API_BASE=https://api.bol.com/marketing/catalog/v1
BOL_API_TOKEN=
BOL_ACCEPT_LANGUAGE=nl
BOL_COUNTRY_CODE=NL

BOL_FTP_HOST=
BOL_FTP_PORT=21
BOL_FTP_USER=
BOL_FTP_PASSWORD=
BOL_FTP_SECURE=false
BOL_FTP_REMOTE_DIR=/
BOL_FTP_REMOTE_FILE=productfeed.xml

DBFISHING_SITE_URL=https://dbfishing.nl
